.albumContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
/* .albumContainer:not(:first-of-type) {
  margin-top: -2%;
} */

.albumArtContainer {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 1000px;
  background-color: #FFFFFF;
}

.albumArt {
  width: 100%;
  height: calc(100vw / 2.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}