.wrapper {
  transition: opacity 400ms ease;
  opacity: 0;
  pointer-events: none;
}
.visibleWrapper {
  composes: wrapper;
  pointer-events: auto;
  opacity: 1;
  max-width: 2000px;
  margin: auto;
}

.coloredHeader {
  background: linear-gradient(to right, #FCFCFC, #FBFBFB);
}