.pageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-right: 10%;
  background-image: url('/images/wallpapers/empty.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  will-change: opacity;
  transition: opacity 400ms 400ms ease;
  opacity: 0;
  pointer-events: none;
}
.visibleWrapper {
  composes: pageWrapper;
  opacity: 1;
  pointer-events: initial;
}

.contentContainer {
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: #242424;
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .pageWrapper {
    align-items: center;
  }

  .contentContainer {
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
  }
}